nav {
    display: flex;
    justify-content: space-around;
    background-color: transparent;
    height: 80px;
    align-items: center;
    width: auto;
    font-size: 15px;
  }

  
  nav a {
    color: rgb(114, 160, 99);
    font-weight: 600;
    font-size: 16px;
    display:inline-block; margin-right:25px;
  }
  
  nav a:hover {
    color: #ffce2e;
  }
  
  nav a:link {
    text-decoration: none;
  }
  
  .newLink {
    font-size: 14px;
    border: 2px solid;
    padding: 6px;
    border-radius: 5px;
    font-family: 'Barlow', sans-serif;
  }
  