.App {
  text-align: center;
}

.descript_img {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 4px solid rgba(114, 160, 99, 0.488);
  margin-top: 50px;
  height: 50vh;
}

.descript-container {
  text-align: left;
  padding-top: 60px;
  padding-left: 20px;
  font-size: 15px;
}

.descript-container h1 {
    width: 300px;
    word-wrap: break-word;
}

.fruitsSpread img {
  height: 280px;
  
}