.App {
  text-align: center;
}

.descript_img {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 4px solid rgba(114, 160, 99, 0.488);
  margin-top: 50px;
  height: 50vh;
}

.descript-container {
  text-align: left;
  padding-top: 15vh;
  padding-left: 3vh;
  font-size: 16px;
}

.descript-container h2 {
  width: 300px;
  word-wrap: break-word;
}

.fruitsSpread img {
  height: 280px;
}

.howContainer {
  padding-top: 40px;
}

.howSteps {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 20px;
  padding-left: 20vw;
  padding-right: 20vw;
}

.howSteps p {
  margin-top: 30px;
  width: 180px;
  word-wrap: break-word;
  font-size: 15px;
}

.howSteps img {
  height: 60px;
}

.conditionContainer {
  list-style-type: none;
  margin-top: 3vh;
  text-align: center;
  font-size: 16px;
}

.conditionContainer li {
  padding-left: 4vw;
  text-align: left;
}

.infoSection{
  margin-top: 8vh;
  padding-left: 24vw;
  padding-right: 24vw;
}

.info {
  padding-top: 2vh;
}
.select {
  margin-top: 10vh;
}

.select p {
  width: 440px;
  word-wrap: break-word;
  margin-left: 35vw;
  font-size: 16px;
}

.arrow {
  margin-top: 10vh;
}

.form-select {
   margin-left: 40vw;
   background-color: rgba(140, 215, 94, 0.386);
}

.card {
  margin-top: 6vh;
  margin-left: 25vw;
}

.build {
  margin-top: 5vh;
}

.buildRecipeContainer{
  display: flex;
  flex-direction: row;
}


.recipeList ul{
  padding-top: 10vh;
  display: grid;
  grid-template-columns: 350px 350px 350px;
  justify-content: center;
  gap: 50px;
}

.recipeList li{
  list-style-type: none;
}

.recipeList li a {
  text-decoration: none;
  color: black;
}

.recipeList li a:hover {
  color: rgba(54, 130, 7, 0.975);
}

.recipeList p {
  padding-top: 4vh;
}

.recipeInfo img {
  padding-left: 10vw;
  height: 45vh;
  width: 40vw;
}
