.App {
  text-align: center;
}

.descript_img {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 4px solid rgba(114, 160, 99, 0.488);
  margin-top: 50px;
  height: 50vh;
}

.descript-container {
  text-align: left;
  padding-top: 15vh;
  padding-left: 3vh;
  font-size: 16px;
}

.descript-container h2 {
  width: 300px;
  word-wrap: break-word;
}

.fruitsSpread img {
  height: 280px;
}

.howContainer {
  padding-top: 40px;
}

.howSteps {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 20px;
  padding-left: 20vw;
  padding-right: 20vw;
}

.howSteps p {
  margin-top: 30px;
  width: 180px;
  word-wrap: break-word;
  font-size: 15px;
}

.howSteps img {
  height: 60px;
}

.conditionContainer {
  list-style-type: none;
  margin-top: 5vh;
  margin-left: 38vw;
  text-align: left;
  font-size: 16px;
}

.select {
  margin-top: 10vh;
}

.arrow {
  margin-top: 10vh;
}

.form-select {
   margin-left: 40vw;
   background-color: rgba(140, 215, 94, 0.386);
}

.card {
  margin-top: 6vh;
  margin-left: 32vw;
}
